<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lucky Spin</title>
    <link rel="stylesheet" href="/luckyStyles.css">
</head>
<body>
    <button onclick='history.go(0)'>Spin</button>
    <div>@Model models.A</div>
    <div> @Model models.B </div >
    <div> @Model models.C </div >
    <h1> Lucky @Model models.spin </h1>
    <img src="/Images/LuckySpinCoins.jpg" alt="Coins" style="display:@Model.ImgDisplay" />
</body>
</html>
